body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* this is important ^^^
    for footer to be at bottom!!! */
    margin: 0;
}
/* 
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif; */

.body {
    flex: 1;
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 0;
    margin: 0;
    /* width: max-content; */
    /* height: max-content; */

}
.header {
    display: flex;
    background-color: #1F2937;
    color: #f9FAF8;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #f9FAF8;
}
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
}


.box {
    background-color: white;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    width: 75px;
    height: 75px;
    /* padding: 100px; */
    margin: 0;
    /* max-width: 200px; */

}

.footer {
    /* align-self: flex-end; */
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    background-color: #1F2937;
    color: #f9FAF8;
    justify-content: space-between;
    padding: 35px;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: space-around;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  /* position: absolute; */
}

.container1 {
  padding: 48px;
  display: flex;
  align-items: space-evenly;
  justify-content: space-between;
  gap: 32px;
  background-color: #1F2937;
  height: 25vh;

}

.image1 {
    width: 50%;
    background-color: grey;
    flex: 2;
}
.container2 {
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  flex-direction: column;
  background-color: white;
  height: 25vh;
}

.container3 {
  padding: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  /* gap: 100px; */
  /* flex-direction: column; */
  background-color: #E5E7EB;
  height: 25vh;
}

.container4 {
  padding: 48px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 32px;
  /* flex-direction: column; */
  background-color: #3882F6;
  border-radius: 5px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 25vh;
  color: #f9FAF8;
}

.info1 {
  flex: 1;
}

.text {
  /* width: 100%; */
  justify-content: center;
  /* flex-grow: 1; */
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

h2 {
  /* width: 100%; */
  text-align: center;
}

.boxes {
  /* width: 100%; */
  justify-content: center;
  /* flex-grow: 1; */
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

button {
  width: 100%;
  flex: 2;
  background-color: #3882F6;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  color: white;
  font-size: 25px;
}